html,
body {
  height: 100%;
  margin: 0;
  --polly-green: #4caf50;
  --polly-dark-green: #087f23;
}

body {
  font-family: "Caveat", cursive;
  display: grid;
  place-items: center;
}

main {
  min-width: 360px;
}

.toolbar,
.content {
  display: flex;
  padding: 16px;
  gap: 16px;
}

.toolbar {
  height: 64px;
}

input[type="text"] {
  font-size: 1rem;
  font-weight: 400; 
  letter-spacing: 0.009375em;
  box-sizing: border-box;
  width: 160px;
  padding: 8px;
  border-radius: 4px;
  border: 2px var(--polly-green) solid;
  transition: border 0.325s ease-in-out;
}

input[type="text"]:focus-visible {
  border: 2px var(--polly-dark-green) solid;
  outline: none;
}

button {
  text-transform: uppercase;
  min-width: 64px;
  padding: 0 16px 0 16px;
  height: 36px;
  background-color: var(--polly-green);
  border: none;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
  box-sizing: border-box;
  border-radius: 4px;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:active {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}
